/*
 WxFramework all rights reserved to Wojciech Paluch <wojciech.paluch1993 at gmail.com>
*/
/* 
    Created on : 2016-03-21, 21:09:35
    Author     : Wojciech Paluch <wojciech.paluch1993 at gmail.com>
*/
.flex-cols-box {
  display: flex;
  flex-flow: column;
  flex-direction: column; }

.flex-rows-box {
  display: flex;
  flex-flow: row;
  flex-direction: row; }

.flex-row {
  flex: 1 0 auto; }

.flex-col {
  flex: 0 1 auto; }

.flex-1-item, .flex-2-item, .flex-3-item, .flex-4-item {
  min-height: 0;
  min-width: 0; }

.flex-1-item {
  flex: 1; }

.flex-2-item {
  flex: 2; }

.flex-3-item {
  flex: 3; }

.flex-4-item {
  flex: 4; }

/*# sourceMappingURL=flex.css.map */
